@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
* {
    font-family: 'Nunito Sans';
}

.selectedflightdetails {
    margin: 5em;
    border-radius: 10px;
    padding: 10px;
} 

.selectedflightdetails table th,
td {
    /* border-bottom: 1px solid #ddd; */
    /* border-right: 1px solid #ddd; */
    padding: 6px;
}

.containspriceandtable {
    display: flex;
    align-items: center;
    justify-content: center;
}

.width-maker{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100% !important;

}

.places .card {
    margin-left: 20px;
    border: #ddd;
    box-shadow: 2px 2px 3px 2px grey;
    margin-right: 50px;
    margin-top: 1em;
    padding: 10px;
    margin-bottom: 10em;
    /* border: 0; */
}

.display {
    width: 110%;
}

.display th{
    background-color: #93d1f0;
    width: 120px;
    font-size: 16px;
    font-family: 'Noto Serif', serif;
    text-align: center;
}

.display td,tbody{
    /* background-color: #dcf1fa; */
    text-align: center;
    background-color: rgb(255, 255, 255) !important;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
}

.places .card img {
    border-radius: 10px;
    height: 240px;
}

.flightinfo{
    margin-top: 100px;
}

#layer1 {
    position: relative;
    z-index: 1;
    background-color: white;
    height: 97px;
    width: 80%;
    top: 45px;
    justify-content: center;
    align-items: center;
    left: 130px;


    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
}
.form input[type="date"]::before{
    content: attr(placeholder);
}
.form input{
    width: 50px;
    /* border: 1px; */
}

.form_icon{
    padding-top: 6px;
}

.home_search_button{
    border: none;
    color: white;   
    background-color: #1DB4FF;
    height: 30px;
    width: 75px;
    border-radius: 6px;
}
.book-btn{
    align-items: center;
        display: flex;
        justify-content: center;
        padding: 10px;
  } 